@tailwind base;

@import './antd-theme.css';
@import './antd-apply.css';

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900&display=swap');

/* Write your own custom base styles here */

* {
  font-family: 'Nunito Sans', sans-serif;
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-primary:hover {
  color: #fff;
  background-color: #2e49f7;
  border-color: #223ef6;
}

.btn-primary {
  color: #fff;
  background-color: #5369f8;
  border-color: #5369f8;
}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
