@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './antd-theme.css';
@import './antd-apply.css';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900&display=swap');

/* Write your own custom base styles here */

* {
  font-family: 'Nunito Sans', sans-serif;
}
/* Start purging... */
/* Stop purging. */

/* Write your own custom component styles here */
.btn-primary:hover {
  color: #fff;
  background-color: #2e49f7;
  border-color: #223ef6;
}

body .ck-editor__editable {
  min-height: 250px;
}
@media (max-width: 425px) {
  body .ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    flex-wrap: wrap;
    min-width: 70vw;
  }
}

@import 'tailwindcss/utilities';
